.navbar {
  background-color:#0f4d92;
  position: sticky;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  float: right;
  background: 0 0;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}